<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'edit.article' | translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="draft">
    <form [formGroup]="editForm" #f>
      <ion-list inset="true">
        <ion-item> <!-- TITLE -->
          <ion-label position="stacked">
            {{'title' | translate}} 
            <span class="white">(Min 10, Max 35)</span>
          </ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item> <!-- COVER -->
          <ion-label position="stacked">{{'image' | translate}} 
            <span class="white">(URL)</span>
          </ion-label>
          <ion-input formControlName="cover"></ion-input>
        </ion-item>
        <ion-item> <!-- CATEGORY -->
          <ion-label class="select">{{'category' | translate}}</ion-label>
          <ion-select formControlName="category">
            <ion-select-option [value]="c" 
                               *ngFor="let c of categories">{{c}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item> <!-- LEVEL -->
          <ion-label class="select">{{'level' | translate}}</ion-label>
          <ion-select formControlName="level">
            <ion-select-option [value]="l" 
                               *ngFor="let l of levels">
                               {{l | translate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item> <!-- TAGS -->
          <ion-label class="select">{{'tags' | translate}} 
            <span class="white">(Max 3)</span>
          </ion-label>
          <ion-select formControlName="tags" multiple="true">
            <ion-select-option [value]="t" 
                               *ngFor="let t of tags">
                               {{t | translate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item> <!-- BADGES -->
          <ion-label class="select">{{'badge' | translate}} 
            <span class="white">(Max 2)</span>
          </ion-label>
          <ion-select formControlName="badges" multiple="true">
            <ion-select-option [value]="b" 
                               *ngFor="let b of badges">
                               {{b | translate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item> <!-- SUMMARY -->
          <ion-label position="stacked">{{'intro' | translate}} 
            <span class="white">(Min 100)</span>
          </ion-label>
          <ion-textarea rows="5" formControlName="summary"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-button expand="full" 
              [disabled]="editForm.invalid" 
              (click)="onSubmit()">{{'edit' | translate}}
  </ion-button>
</ion-footer>
