ion-label {
 --color: var(--ion-color-primary) !important;
}

ion-item { 
 --highlight-color-invalid: transparent;
 --inner-padding-end: 0;
}

ion-select {
 --padding-end: 0;
 max-width: 60%;
}

ion-button { margin: 0 }
ion-list { 
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}

.white {
 color: var(--ion-color-dark);
}