<ion-content force-overscroll="false" class="tab">
  <ion-img></ion-img>
  <div class="title">
    <span>Mis Artículos</span>
  </div>

  <ion-list inset="true" *ngIf="draftSrv.drafts?.length > 0; else noDrafts">
    <ion-item *ngFor="let draft of draftSrv.drafts"
              (click)="navigate(draft.slug)"
              detail
              class="ion-text-wrap">
      <ion-avatar slot="start">
        <img [src]="draft.category | logo">
      </ion-avatar>
      <ion-label>
        {{draft.title}}
        <ion-icon *ngIf="draft.status === 'Draft'"
                  name="brush-outline" 
                  color="success"
                  class="icon-draft">
        </ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noDrafts>
    <div class="no-articles">
      Sin Artículos
    </div>
  </ng-template>

  <ion-fab vertical="bottom" 
          horizontal="end" 
          slot="fixed">
    <ion-fab-button size="small" (click)="create()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
