@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Custom CSS */
@import './assets/styles/main.scss';

body {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 overscroll-behavior-y: contain;
 text-rendering: optimizeLegibility;
 overflow-x: hidden;
 -webkit-tap-highlight-color: transparent;
}

@font-face {
 font-family: "Segoe UI";
 font-weight: 400;
 src: local("Segoe UI");
 font-display: swap;
}

